
.sidebar__left {
  background-color: #312450;
  min-height: 100vh;
}

.sidebar__left a {
  color: rgba(255, 255, 255, 0.85);
}

.sidebar__left i {
  font-size: 30px;
}

.sidebar__left__photo {
  border-radius: 100%;
  overflow: hidden;
}

.sidebar__left__menu {
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	text-transform: uppercase;
}

.sidebar__left__subtitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.55);
}

.sidebar__left__menu__link {
	color: rgba(255, 255, 255, 0.35);
	letter-spacing: 0.25em;
	text-transform: uppercase;
	padding: 1.35em 0;
	position: relative;
	text-decoration: none;
}

.sidebar__left__menu__link:hover {
  color: rgba(255, 255, 255, 0.55);
}

.sidebar__left__menu__link.active {
  color: #ffffff;
}

.sidebar__left__menu__link.active:after {
  max-width: 100%;
}

.sidebar__right {
  background-color: #312450;
  min-height: 100vh;
}

.content__main {
  background-color: #f1f1f1;
  min-height: 100vh;
  padding: 0;
}

.content__main a {
  color: #5052b5;
}

.ui.divider {
  height: 4px !important;
  border-radius: 5px !important;
  background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}



/*
bg:					#312450,
bg-alt:				darken(#312450, 5),
fg:					rgba(255,255,255,0.55),
fg-bold:			#ffffff,
fg-light:			rgba(255,255,255,0.35),
border:				rgba(255,255,255,0.15),
border-bg:			rgba(255,255,255,0.05),
accent1:			#5e42a6,
accent1-alt:		darken(#5e42a6, 10),
accent2:			#5052b5,
accent2-alt:		darken(#5052b5, 10),
accent3:			#b74e91,
accent3-alt:		darken(#b74e91, 10)
*/
